.login-container {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: black;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.text-divider {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  font-size: 16px;
  color: #333;
}

.text-divider::before,
.text-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}

.forgot-password {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.register-link {
  font-size: 14px;
}
